.home{
    width: 10vw;
    height: 90%;
    text-align: center;    
   
    border-radius: 5vw;

    display: flex;
    flex-flow: row wrap;
    gap: 2px;

    box-shadow: inset 2vw 1vw 1vw rgba(0,0,0,0.2),
                inset 2vw 1vw 2vw rgba(0,0,0,0.2);
}

.homeCount{
    width: 10vw;
    height: 10%;
    
    text-align: center;

}
